 <div class="box">
    <div class="title">Editing Credit Card</div>

<%= render 'form', credit_card: @credit_card %>

<%= link_to 'Show', @credit_card %> |
<%= link_to 'Back', credit_cards_path %>
  </div>